form {
    width: 65vw;
    margin-left: 25px;
}

.dropdown {
    border-radius: 22px;
    padding: 5px;
    width: 62vw;
    position: absolute;
    top: 70px;
    left: 28px;
    cursor: pointer;
    z-index: 10;
    /* Ensure dropdown is on top */
}

.dropdown-row {
    padding: 5px;
    background-color: #384454;
}

.dropdown-row:hover {
    background-color: rgb(74, 87, 107);
}

@media (max-width: 1000px) {
    form {
        width: 90vw;
        margin-left: 20px;
    }

    .dropdown {
        width: 85vw;
        left: 25px;
    }
}